# Construction Data Exercise

## This dataset includes: 
- The Value of Construction Put in Place Survey provides monthly estimates of the total dollar value of construction work done in the U.S. The survey covers construction work done each month on new structures or improvements to existing structures for private and public sectors. Data provided by Enigma.io from the U.S. Department of Commerce.

In [2]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [6]:
# Read the policy data in as a Pandas Dataframe
data = pd.read_csv("Data/enigma-usgov_census_2_0.csv")
data.head()

,per_idx,per_name,cat_idx,cat_code,cat_desc,cat_indent,dt_idx,dt_code,dt_desc,dt_unit,et_idx,et_code,et_desc,et_unit,geo_idx,geo_code,geo_desc,is_adj,val,serialid
0,1,1/1/2002,1,XXXX,Total Construction,0,1,T,Total Construction,MLN$,0,NaN,NaN,NaN,1,US,U.S. Total,0,59516.0,1
1,1,1/1/2002,2,00XX,Residential,0,1,T,Total Construction,MLN$,0,NaN,NaN,NaN,1,US,U.S. Total,0,25972.0,2
2,1,1/1/2002,3,NRXX,Nonresidential,0,1,T,Total Construction,MLN$,0,NaN,NaN,NaN,1,US,U.S. Total,0,33545.0,3
3,1,1/1/2002,4,01XX,Lodging,1,1,T,Total Construction,MLN$,0,NaN,NaN,NaN,1,US,U.S. Total,0,989.0,4
4,1,1/1/2002,5,02XX,Office,1,1,T,Total Construction,MLN$,0,NaN,NaN,NaN,1,US,U.S. Total,0,3763.0,5

In [7]:
data.shape

(50208, 20)